<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--favicon-->
		<link rel="icon" href="assets/images/favicon-32x32.png" type="image/png" />
		<!--plugins-->
		<link href="assets/plugins/OwlCarousel/css/owl.carousel.min.css" rel="stylesheet" />
		
		<link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
		<!-- loader-->
		<link href="assets/css/pace.min.css" rel="stylesheet" />
		<script src="assets/js/pace.min.js"></script>
		<!-- Bootstrap CSS -->
		<link href="assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
		<link href="assets/css/app.css" rel="stylesheet">
		<link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
		<link href="assets/css/icons.css" rel="stylesheet">
		<title>SmartShopsBD</title>
	</head>

<body>	
	<!--wrapper-->
	<div class="wrapper">
		<!--start top header wrapper-->
		<div class="header-wrapper">
			<div class="header-content bg-dark">
			  <div class="container">
				<div class="row align-items-center gx-4">
			   
				  <div class="col-auto">
					<div class="d-flex align-items-center gap-3">
					  <div
						class="mobile-toggle-menu d-inline d-xl-none d-lg-none"
						data-bs-toggle="offcanvas"
						data-bs-target="#offcanvasNavbar"
					  >
						<img
						  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAGRJREFUSEvtk1kOABAQQ/Vgbu9e49sSo5lUQvguXV4giQ/E76dv4C58fiIzMzfWQgCgCT00kBtE0s/unmcgb8Ay6KH2AcOQaQP5RPcbOJAzgMK0ZCHHDZh0O9oHf/JObUZz/0QVtgcaGa1XxmsAAAAASUVORK5CYII="
						/>
					  </div>
					  <div class="logo">
						<a href="index.html">
						  <img
							src="assets/images/logo-icon.png"
							class="logo-icon"
							alt=""
						  />
						</a>
					  </div>
					  
					</div>
				  </div>
				  <div class="col-12 col-xl order-4 order-xl-0 ">
					<div class="display-flex align-items-center justify-content-end gap-3 d-none d-sm-block">
					  <ul class="flex-container ulmenu ">
						<li><a href="index.html">Home</a></li>
						<li><a href="man.html">Man</a></li>
						<li><a href="womens.html">Women</a></li>
						<li><a href="accessories.html">Accessories</a></li>
					  </ul>
					</div>
			 
				  </div>
				 
	
			  
				  <div class="col-auto ms-auto">
					<div class="top-cart-icons">
					  <nav class="navbar navbar-expand">
						<ul class="navbar-nav">
						  <li class="nav-item dropdown dropdown-large">
							<a
							  href="#"
							  class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative cart-link"
							  data-bs-toggle="dropdown"
							>
							  <span class="alert-count">3</span>
							  <img
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWBJREFUSEu9lS8sRVEcxz9fm6LaTJVtJr4mCYokvCIbgoJp3otGxF5RFBMkRRA0E42iSjZFkWx+zrF77bjv/r+uU+7O+Z3z/Zzfv3NFy0Mt6/N/ADOzyJt34ETSxl949+NBAIh15yVdN4UMhcjMtoE94FLSYhuAceAFGAGmJD03gaQm2cxOgeUGwveSZv35LEAHuG0AeJA0kwnwBjN7BKbTIJK+L5ZSGPH2HUk+j9l9YGYrwKAG4NOdm5T0WgQYA/wm//01Cjy4krQQH8jtZDM7dJD1QL3nxPshzYVp1817wVpX0nlZgM+Bz0U4tiQdRDnYBPYD4xswIemjFCASuQHmkpBoHor7pYGk1XBv4WNnZl3grGTJdlz876oCRoEn39UFkAtJS0MFUfJmtbcVhijKwxGw5hJ47Oo7rCrfbJm23D5IlGL8ryDugdgednPSVgXQrge1E5D3FjURrVSmTUFfASN8GYI2ZvsAAAAASUVORK5CYII="
							  />
							</a>
							<div class="dropdown-menu dropdown-menu-end">
							  <a href="shop-cart.html">
								<div class="cart-header">
								  <p class="cart-header-title mb-0">3 ITEMS</p>
								  <p class="cart-header-clear ms-auto mb-0">
									VIEW CART
								  </p>
								</div>
							  </a>
							  <div class="cart-list">
								<a class="dropdown-item" href="javascript:;">
								  <div class="d-flex align-items-center">
									<div class="flex-grow-1">
									  <h6 class="cart-product-title">
										Men White T-Shirt  
									  </h6>
									  <p class="cart-product-price">1 X ৳19.00</p>
									</div>
									<div class="position-relative">
									  <div
										class="cart-product-cancel position-absolute"
									  >
										<i class="bx bx-x"></i>
									  </div>
									  <div class="cart-product">
										<img
										  src="assets/images/products/01.png"
										  class=""
										  alt="product image"
										/>
									  </div>
									</div>
								  </div>
								</a>
								<a class="dropdown-item" href="javascript:;">
								  <div class="d-flex align-items-center">
									<div class="flex-grow-1">
									  <h6 class="cart-product-title">
										Puma Sports Shoes
									  </h6>
									  <p class="cart-product-price">1 X ৳19.00</p>
									</div>
									<div class="position-relative">
									  <div
										class="cart-product-cancel position-absolute"
									  >
										<i class="bx bx-x"></i>
									  </div>
									  <div class="cart-product">
										<img
										  src="assets/images/products/01.png"
										  class=""
										  alt="product image"
										/>
									  </div>
									</div>
								  </div>
								</a>
								<a class="dropdown-item" href="javascript:;">
								  <div class="d-flex align-items-center">
									<div class="flex-grow-1">
									  <h6 class="cart-product-title">
										Puma Sports Shoes
									  </h6>
									  <p class="cart-product-price">1 X ৳19.00</p>
									</div>
									<div class="position-relative">
									  <div
										class="cart-product-cancel position-absolute"
									  >
										<i class="bx bx-x"></i>
									  </div>
									  <div class="cart-product">
										<img
										  src="assets/images/products/01.png"
										  class=""
										  alt="product image"
										/>
									  </div>
									</div>
								  </div>
								</a>
							  
							  
							  </div>
							  <a href="javascript:;">
								<div
								  class="text-center cart-footer d-flex align-items-center"
								>
								  <h5 class="mb-0">TOTAL</h5>
								  <h5 class="mb-0 ms-auto">৳57.00</h5>
								</div>
							  </a>
							  <div class="d-grid p-3 border-top">
								<a
								  href="checkout.html"
								  class="btn btn-dark btn-ecomm"
								  >CHECKOUT</a
								>
							  </div>
							</div>
						  </li>
						  <li class="nav-item">
							<a
							  href="login.html"
							  class="nav-link cart-link"
							  ><img
								src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAchJREFUSEu1lTtPVUEUhb8VaxOJRo1EGwosrfgBxhcaSyFW/AITgiRYGeiESLSwpwUt1Uh4WdraGQsaDChGo1FLyPLsZCDXwx3mesidds5e336s2Ud0+ajL+nQEsH27SmQS6EsJrQMPJb0uJVgE2J4AHmWExiXNHgY5FGD7OrAIfAECtJTErgHTwFngiqTVHKQEWA4BYFjS81YR20PAAvBG0s2mgB/ACeC4pD81wEngG7AlqbcpYBs4DZyS9D0D2JYUrWp7Si2Knl8FhiS9yLRoUdJgU0DrkMeBmMmxBJ0BzhxpyJGV7TEgxEK49ewCYdOnjW26F2i7H7gPhD13gLVq8LOSPh75oZUESvfZIdsOe0bWA8Cl5KZWva/Ae+BdquZ3O1hbgO1wxVwaYinJuN8CRiSt1D8+ALB9C3iVPnwJTAHrkn7WbBoVxvKL+4iJMygpVsv++Qdgu6daCx9S5tOSHnSSvu3HqZ2fgYuSfu3F1QGjwBPgraTLnYgnK4dOPMrYW/ckPcsBYqHdKT2edmDbN2LxVRXMV/a9mwNsAOeBnnrPS9XYPgdsAp8kXcgBHBeSij+iTBUH4hsJlarJuuh/Ajv9tusV/AXpWpsZNntrxAAAAABJRU5ErkJggg=="
							/></a>
						  </li>
						</ul>
					  </nav>
					</div>
				  </div>
				</div>
				<!--end row-->
			  </div>
			</div>
			<div class="primary-menu">
			  <nav
				class="navbar w-100 navbar-dark container mb-0 p-0"
			  >
				<div
				  class="offcanvas offcanvas-start"
				  tabindex="-1"
				  id="offcanvasNavbar"
				>
				  <div class="offcanvas-header">
					<div class="offcanvas-logo">
					  <img src="assets/images/logo-icon.png" width="100" alt="" />
					</div>
					<button
					  type="button"
					  class="btn-close text-reset"
					  data-bs-dismiss="offcanvas"
					  aria-label="Close"
					></button>
				  </div>
				  <div class="offcanvas-body primary-menu menutextcolor ">
					<ul class="navbar-nav justify-content-center flex-grow-1 gap-1">
					  <li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="index.html">Mens</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="index.html">Womens</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="index.html">Accessories</a>
					  </li>
					</ul>
				  </div>
				</div>
			  </nav>
			</div>
		  </div>
		<!--end top header wrapper-->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
		
					</div>
				</section>
				
				<!--start shop cart-->
				<section class="">
					<div class="container">
						<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5">
							<div class="row row-cols-1 row-cols-xl-2">
								<div class="col mx-auto">
									<div class="card">
										<div class="card-body">
											<div class="border p-4 rounded">
												<div class="text-center">
													<h3 class="">Sign in</h3>
													<p>Don't have an account yet? <a href="register.html">Sign up here</a>
													</p>
												</div>
										
												<div class="login-separater text-center mb-4"> <span>SIGN IN WITH PHONE</span>
													<hr/>
												</div>
												<div class="form-body">
													<form class="row g-3">
														<div class="col-12">
															<label for="inputEmailAddress" class="form-label">Phone Number</label>
															<input type="texty" class="form-control" id="inputPhone" placeholder="Email Address">
														</div>
														<div class="col-12">
															<label for="inputChoosePassword" class="form-label">Enter Password</label>
															<div class="input-group" id="show_hide_password">
																<input type="password" class="form-control border-end-0" id="inputChoosePassword" value="12345678" placeholder="Enter Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-check form-switch">
																<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
																<label class="form-check-label" for="flexSwitchCheckChecked">Remember Me</label>
															</div>
														</div>
														<div class="col-md-6 text-end">	<a href="authentication-forgot-password.html">Forgot Password ?</a>
														</div>
														<div class="col-12">
															<div class="d-grid">
																<button type="submit" class="btn btn-dark"><i class="bx bxs-lock-open"></i>Sign in</button>
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--end row-->
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
		<!--start footer section-->
		<footer>
			<section class="py-5 border-top bg-light">
			  <div class="container">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
				  <div class="col">
					<div class="footer-section1">
					  <h5 class="mb-4 text-uppercase fw-bold">Contact Info</h5>
					  <div class="address mb-3">
						<h6 class="mb-0 text-uppercase fw-bold">Address</h6>
						<p class="mb-0">Mirpur 11 , Bangladesh</p>
					  </div>
					  <div class="phone mb-3">
						<h6 class="mb-0 text-uppercase fw-bold">Phone</h6>
						<p class="mb-0">Mobile : +88-01XXXXXXXXXX</p>
					  </div>
					  <div class="email mb-3">
						<h6 class="mb-0 text-uppercase fw-bold">Email</h6>
						<p class="mb-0">mail@example.com</p>
					  </div>
					  <div class="working-days mb-3">
						<h6 class="mb-0 text-uppercase fw-bold">WORKING DAYS</h6>
						<p class="mb-0">Mon - FRI / 9:30 AM - 6:30 PM</p>
					  </div>
					</div>
				  </div>
				  <div class="col">
					<div class="footer-section2">
					  <h5 class="mb-4 text-uppercase fw-bold">Categories</h5>
					  <ul class="list-unstyled">
						<li class="mb-1">
						  <a href="man.html"
							><i class="bx bx-chevron-right"></i> Man</a
						  >
						</li>
						<li class="mb-1">
						  <a href="womens.html"
							><i class="bx bx-chevron-right"></i> Women</a
						  >
						</li>
						<li class="mb-1">
						  <a href="accessories.html"
							><i class="bx bx-chevron-right"></i> Accessories</a
						  >
						</li>
	
						<li class="mb-1">
						  <a href="product-details.html"
							><i class="bx bx-chevron-right"></i> Product Details</a
						  >
						</li>
						<li class="mb-1">
						  <a href="shop-cart.html"
							><i class="bx bx-chevron-right"></i> Cart</a
						  >
						</li>
						<li class="mb-1">
						  <a href="checkout.html"
							><i class="bx bx-chevron-right"></i> CheckOut</a
						  >
						</li>
	
					  </ul>
					</div>
				  </div>
	
				  <div class="col">
					<div class="footer-section4">
					  <h5 class="mb-4 text-uppercase fw-bold">Stay informed</h5>
					  <div class="subscribe">
						<input
						  type="text"
						  class="form-control"
						  placeholder="Enter Your Email"
						/>
						<div class="mt-3 d-grid">
						  <a href="javascript:;" class="btn btn-dark btn-ecomm"
							>Subscribe</a
						  >
						</div>
						<p class="mt-3 mb-0">
						  Subscribe to our newsletter to receive early discount
						  offers, updates and new products info.
						</p>
					  </div>
					</div>
				  </div>
				</div>
				<!--end row-->
			  </div>
			</section>
	
			<section
			  class="footer-strip text-center py-3 border-top positon-absolute bottom-0"
			>
			  <div class="container">
				<div
				  class="d-flex flex-column flex-lg-row align-items-center gap-3 justify-content-between"
				>
				  <p class="mb-0">Copyright © 2022. All right reserved.</p>
				  <div class="payment-icon">
					<div class="row row-cols-auto g-2 justify-content-end">
					  <div class="col">
						<img src="assets/images/icons/bkash.png" alt="" />
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</section>
		  </footer>
		<!--end footer section-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
	</div>
	<!--end wrapper-->
	
	<!-- Bootstrap JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/plugins/OwlCarousel/js/owl.carousel.min.js"></script>
	<script src="assets/plugins/OwlCarousel/js/owl.carousel2.thumbs.min.js"></script>
	<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<!--app JS-->
	<script src="assets/js/app.js"></script>
	<!--Password show & hide js -->
	<script src="assets/js/show-hide-password.js"></script>
</body>

</html>